

body {
    color: #141010;
    background-color: #680747;
    background-image: none;
}

.header {
    text-align: center;
    margin-top: 3%;
    font-size: 48px;
}

.baby_header {
    text-align: center;
    margin-top: 3%;
    font-size: 48px;
}

.skills {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 27px;
}

ul {
    margin-left: 5%;
}

li {
    margin-bottom: 1%;
}

.w3-quarter {
    margin: 5%;
}

.w3-quarter, .box, .main-box {
    border-radius: 5%;
    background-color: #86377b;
    color: #231627;
}

.main-box:hover {
    opacity: 1;
}

.words {
    margin-bottom: 2%;
}

.setup {
    font-size: 20px;
    margin: 4%;
}

.w3-quarter {
    width: 100% !important;
    margin-right: 1%;
  }


@media screen and (min-width: 900px) {
    .w3-row-padding, .w3-padding-16, .w3-center {
        display: flex;
    }
    
}





@media screen and (max-width: 900px){
    .w3-quarter {
      width: 96% !important;
      margin-right: 1%;
      margin-bottom: 20%;
    }

    * {
        margin: 5%;
    }

    .header {
        margin-top: 17%;
        font-size: 28px;
    }

    .baby_header {
        text-align: center;
        margin-top: 3%;
        font-size: 11px;
    }
    
  }
  